body{
  background-image: url("../images/bluebackground.jpg");
  background-repeat: repeat-y;
  width:500px;
  height:-14px;
}

#Caption{
  color:white;
  font-weight: bold;
  position: relative;
  margin-left: 45px;
  margin-top:23px;
}
#div1{
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 45px;
}
#Opaquediv{
        width:332px;
        border-radius: 2px;
         border:2px solid white;
         background-color: white;
         opacity:0.8;
         margin-left: 20px;
         margin-right: 50px;
         margin-bottom: 5px;
         padding:10px;
}
label{
  margin-left: 3px;
}
input.inp{
  background-color: white;
  width:200px;
}
#submitbtn{
     border-radius: 9px;
     background-color: #14144a;
     color:white;
     position: relative;
     margin-left: 180px;
     margin-top: -12px;
     width:61px;
     height:23px;
}
input[type="radio"]{
  margin-left: 22px;
}
/*
#Caption2{
  color:white;
  font-weight: bold;
  position: fixed;
  margin-left: 45px;
  margin-top: 200px;
}
#div2{
  position: fixed;
  margin-top: 230px;
  margin-left: 20px;
}
#Caption3{
  color:white;
  font-weight: bold;
  position: fixed;
  margin-left: 45px;
  margin-top: 390px;
}
#div3{
  position: fixed;
  margin-top: 420px;
  margin-left: 20px;
}
#Opaquediv{
        width:400px;
        border-radius: 2px;
         border:2px solid white;
         background-color: white;
         opacity:0.8;
         margin-left: 20px;
         margin-right: 50px;
         margin-bottom: 5px;
         padding:10px;
}
img{
  position: absolute;
}
label{
  margin-left: 3px;
}
.inp{
  margin-left: 15px;
  background-color: white;
   border-radius: 3px;
}*/

